h1 {
  font-family: Georgia serif;
  color: #fff;
  text-shadow: 2px 2px #000;
}

.sans {
  font-family: Verdana;
}

.borders {
  border-top: 2px solid rgb(28, 14, 0);
  border-bottom: 2px solid rgb(28, 14, 0);
}

a {
  color: #000;
}

body {
  max-width: 960px;
  background-color: #fff;
}

@media only screen and (min-width: 38em) {

  html {
    background-color: #bea586;
    background-size: 48px;
    background-image: url("../images/sloth-bg.svg");
    background-position: ;
    background-repeat: repeat;
  }



  }

}
