html {
  color: #000;
}

h1 {
  font-family: "Georgia serif";
  color: #fff;
  text-shadow: 2px 2px #000;
}

.sans {
  font-family: Verdana;
}

.borders {
  border-top: 2px solid rgba(28, 14, 0, .5);
  border-bottom: 2px solid rgba(28, 14, 0, .5);
}

a {
  color: #000;
}

body {
  max-width: 960px;
  background-color: #fff;
}

@media only screen and (min-width: 60em) {

  html {
    background-color: #bea586;
    background-size: 48px;
    background-image: url("../images/sloth-bg.svg");
    background-repeat: repeat;
  }

}
