h1 {
  font-family: Georgia serif;
  color: #fff;
  text-shadow: 2px 2px #000;
}

.sans {
  font-family: Verdana;
}

.borders {
  border-top: 2px solid rgb(28, 14, 0);
  border-bottom: 2px solid rgb(28, 14, 0);
}

a {
  color: #000;
}
